{% extends "base.html" %}
{%load static%}
{% block title %}Portfolio{% endblock title %}

{% block content %}

<div class="hero-section">
    <div class="hero-image">
        <img src="/static/img/profile.jpeg">
    </div>
    <div class="intro-section">
        <h1 class="intro-header">Hi! This is Kit</h1>
        <h3>IT Asset Management</h3>
        <p>Enthusiastic and driven IT professional transitioning into front-end or associate-level full-stack development. Over 6 years of experience in LAN administration, IT asset management, and Service Desk Technican, combined with hands-on expertise in troubleshooting IT hardware, software and network issues. Proven proficiency with MECM, imaging, Active Directory, and servers, ServiceNow.</p>
        <br>
        <p>
            In parallel, I have developed and maintained websites using WordPress, Shopify, and self-hosted heroku platforms, as well as created a Chrome plug-ins. My background includes building and designing applications with HTML, CSS, JavaScript, Python, and various REST frameworks. I bring a self-starter mindset, a passion for product design, and a proven track record of effective planning, security awareness, and collaborative problem-solving—qualities that will make me a valuable contributor to a forward-thinking development team.</p>

        <br>
        <h3>My skills</h3>
        <div class="skill-labels">
            <label class="sk">HTML5</label>
            <label class="sk">CSS</label>
            <label class="sk">Javasccript</label>
            <label class="sk">Jquery</label>
            <label class="sk">Python</label>
            <label class="sk">Figma</label>
            <label class="sk">React</label>
            <label class="sk">Django</label>
            <label class="sk">Flask</label>
        </div>
        <div class="skill-labels">

            <label class="sk">MongoDB</label>
            <label class="sk">ServiceNow</label>
            <label class="sk">WordPress</label>
            <label class="sk">Shopify</label>
            <label class="sk">Macro</label>
            <label class="sk">Microsoft 365</label>
            <label class="sk">Active Dirctory</label>
            <label class="sk">.Net</label>
            <label class="sk">Powershell</label>
        <!-- <label class="skill  btn btn-success">skill</span>
        <label class="skill  btn btn-success">skill</span> -->
        </div>
    </div>
</div>

<div class="chart-section center-row">
    <div id="chart-container">
        <canvas id="radarChart"></canvas>
    </div>

    <div id="row-container">
        <canvas id="rowChart"></canvas>
    </div>

</div>




  
  
  






{% endblock content %}
