{% extends "base.html" %}

{% block title %}Expierence{% endblock title %}

{% block content %}

<h3 class="project-head">Expierence of Education</h3>
<div class="project-section">
    
    <div class="project-card">
        <h3>National University</h3>
        <h4>Bachelor of Computer Inforamtion System</h4>
        <p>Database Management System, System Analysis and Intefration, Statistic, Infoamrtion system security. </p>
        <h4>2023</h4>
        <div class="sk-project-tag">
            <label class="sk">UML</label>
            <label class="sk">DBMS</label>
            <label class="sk">Network</label>
            <label class="sk">Security</label>
            <label class="sk">Project Managmenet</label>
            <label class="sk">A+</label>
        </div>
    </div>

    <div class="project-card">
        <h3>San Diego Global Knowledge University</h3>
        <h4>Bachelor of Computer Inforamtion System</h4>
        <p>Full Stack Developer Program that provide hands-on pratice andd learning for MERN stack</p>
        <h4>2024</h4>
        <div class="sk-project-tag">
            <label class="sk">HTML5</label>
            <label class="sk">CSS</label>
            <label class="sk">Javasccript</label>
            <label class="sk">Jquery</label>
            <label class="sk">Python</label>
            <label class="sk">Figma</label>
            <label class="sk">React</label>
            <label class="sk">Django</label>
            <label class="sk">Flask</label>
            <label class="sk">MongoDB</label>
        </div>
    </div>

    <div class="project-card">
        <h3>Certificate</h3>
        <h4>Comptia Security +</h4>
        <p>develop understanding and the skills and to protect organizational data and defend against cyber threats.</p>
        <h4>2024</h4>
        <div class="sk-project-tag">
            <label class="sk">Packet tracer</label>
            <label class="sk">Social engineer</label>
            <label class="sk">Malware</label>
            <label class="sk">Security models</label>
            <label class="sk">Evaluate vulnerabilities</label>
        </div>
    </div>

</div>


{% endblock content %}
