:root{
    --background-color:#F3F3F3;
    --primary-color-bar:#3D5C57;
    --footer-color:#283E3A;
    --header-link-color:#F3F3F3;
    --DM-font:"Cardo", serif;
    --Cur-front: "Vibur", cursive;


}



*{
    padding:0px;
    margin:0px;
    text-decoration: none;
}

html {
    font-size: 16px;
    background-color: var(--background-color);
    font-family: var(--DM-font);
} 

.project-card a{
    text-decoration: none;
    color:#283E3A;
}
.project-card a:hover{
    text-decoration: none;
    color:#283E3A;
}

h1 {
    font-size: 2rem;
}

h2{
    color: var(--background-color);
    font-family: var(--Cur-front);
    font-size:1.6rem;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section{
    background-color: var(--background-color);
    display:flex;
    padding:2% 5% 2% 10%;
    /* gap:5px; */
}

.intro-header{
    text-align: center;
    color:#283E3A;
    font-size:23px;
    font-weight: bold;
}

.hero-image{
    display: flex;
    align-items: center;
    width:30%;
    
}

.hero-image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}


.intro-section{
    width:60%;
}
.intro-section h3{
    padding: 1% 0 0 0;
    color:#283E3A;
    font-size: 18px;
    text-align: center;
}
.intro-section p{
    padding: 1% 0 0 0;

}

.skill-labels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0.5rem;
    gap:1rem;
}
.sk{
    background-color: var(--footer-color);
    color: #fff;
    border-radius: 2px;
    border:0;
    padding:1rem;
    margin:0.3rem 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.sk:hover {
    background: var(--primary-color-bar);
    transform: scale(1.05);
    background: linear-gradient(35deg, #283E3A 0%, #71e6d0 100%);
    
}

.project-head{
    color: var( --footer-color);
    padding:2% 2% 0 3%;
    text-align: center;
    font-size: 23;
}

.project-section{
    padding:1% 10% 2% 10%;
    display:flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;

}

.project-card{
    flex-wrap: wrap;
    padding:1% 0 0 0;
    border: #283E3A;
    width: 31em;
    border-radius: 0.3rem;
    border-width: 4px 4px 4px 4px; 

}
.project-card:hover{
    transform: scale(1.05);
}

.project-card h3, h4{
    padding:1% 1% 2% 1%;
    color: #121616;
}

p{
    padding:1% 1% 0 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: #283E3A;
}
.project-img{
    width:100%;
    filter: drop-shadow(5px 5px 5px rgba(34, 54, 47, 0.5));
}
.project-img img{
    width:100%;
    border-radius: 1rem;
    filter: drop-shadow(5px 5px 5px rgba(34, 54, 47, 0.5));
}

.gif-image{
    display: none;
}
.project-img:hover .static-image {
    display: none;
}

.project-img:hover .gif-image {
    display: block;
}


.sk-project-tag{
    display: flex;
    flex-wrap: wrap;
    padding:0.5rem;
    gap:1rem;

}

.contact{
    padding:1% 0 0 0;
    text-align: center;
}


.contact-section{
    display: flex;
    justify-content: center;
}
.contact-form{
    border-style: solid;
    border-radius: 2px;
    border-color: #D9D9D9;
    width:20%;
    padding: 1% 2% 1% 2%;
    display: flex;
    flex-direction: column;
    color: #B67272;
}



.contact-form label{
    padding: 2% 2% 2% 2%;
}

.contact-form input{
    height:1.5rem;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #B67272;
    border-bottom-width: 0.2rem;
    background-color: var(--background-color);
}

.contact-form input:focus{
    outline:none;
}


.contact-btns{
    padding: 4% 1% 2% 1%;
    text-align: center;

}
.contact-btns button{
    padding: 2% 2% 2% 2%;
    background-color: #B67272;
    border-radius: 5%;
    color:white;
    border-color: #B67272;
    text-align: center;
    margin-right:5%;
}

.contact-btns button:hover{
    transform: scale(1.05);
    background: linear-gradient(35deg, #c25151 0%, #ca9999 100%);
}




.edit-set{
    display: flex;
    justify-content: center;
    gap:1rem;

}
.edit-btn{
    background-color: #3498DB;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-width: 0;
    font-size:1rem;
    color:white;
    text-align: center;
	border-bottom: 5px solid #2980B9;
    cursor: pointer;
}
.edit-btn:hover{
    background-color: #19608f;
    border-bottom: 5px solid #133952;

}

.del-btn{
    background-color: #db243c;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-width: 0;
    font-size:1rem;
    color:white;
    text-align: center;
	border-bottom: 5px solid #b92929;

    cursor: pointer;
}
.del-btn:hover{
    background-color: #66142d;
    border-bottom: 5px solid #440e0e;

}

.project-form h1{
    padding: 2rem;
    text-align: center;
    color:var(--footer-color);
}

.project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.project-form form{
    text-align: left;
    border-style: solid;
    border-radius: 2px;
    border-color: #D9D9D9;
    width:20%;
    padding: 0.5rem 4rem;
    display: flex;
    flex-direction: column;
    color: #B67272;
}

.project-form input{
    height:2rem;
    width:100%;
    border-style: solid;
    border-color: #ffffff;
    border-bottom-width: 0.2rem;
    background-color: #ffffff;
}

.submit-button{
    background-color: #B67272 !important;
    border-radius: 5rem !important;
    height:3rem!important;
}

.submit-button:hover{

    background-color: #472e2e !important;
    color: white;
}

.post-btn{
    background-color: var(--footer-color);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border-width: 0;
    font-size:1rem;
    color:white;
    text-align: center;
	border-bottom: 5px solid #201c1c;

    cursor: pointer;
}
.post-btn:hover{
    background-color:  #0f4b21;
    border-bottom: 5px solid #0a3316;

}

.chart-section{
    width: 100%;
}


#chart-container {
    padding-bottom:5%;
    width: 30%;
    display: flex;
    justify-content: center;
    /* max-width: 700px; */
}

#row-container {
    padding-left:10%;
    
    width: 30%;
    display: flex;
    justify-content: center;
    max-width: 700px;
}